@use '@/assets/styles/colors.scss' as *;

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $common-component-size: (
    'large': 48px,
    'default': 36px,
    'small': 24px,
  ),
  $colors: (
    'primary': (
      'base': $gray-950,
    ),
  ),
  $border-radius: (
    'base': 8px,
    'small': 4px,
    'round': 20px,
    'circle': 100%,
  ),
  $button: (
    'font-weight': 400,
  ),
  $input: (
    'bg-color': $gray-100,
    'border-radius': 4px,
    'border-color': transparent,
  ),
  $input-font-size: (
    'large': 14px,
    'default': 14px,
    'small': 12px,
  ),
  $select: (
   'input-color': $gray-950,
  ),
  $text-color: (
    'regular': $gray-950,
  ),
);

@use 'element-plus/theme-chalk/src/index.scss' as *;
